* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;

    margin-top: 200px;

    display: flex;
}


#slider {
    position: relative;

    width: 80%;
    height: 400px;

    overflow: hidden;
}

.slide {
    width: 100%;
    height: 100%;
}

.slide:not(.active) {
    display: none;
}

.slide img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}


#slider .text{
    position: absolute;
    text-align: end;
    bottom: 0;
    right: 0;

    width: 100%;
    padding: 1.5em;

    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

#preview{
    position: relative;
    width: 20%;
    height: 400px;

    display: flex;
    flex-flow: column;

    
    background-color: pink;
}

#preview img{
    width: 100%;
    height: calc(100% / 5);

    object-fit: cover;

    border: 2px solid white;
    
}

#preview img:not(.active){
    filter: brightness(50%);
    border: none;

}

#preview #arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    

    width: 100%;
    height: 100%;

    padding: 12px;

    color: white;
    font-size: 1.5em;
    text-shadow: 1px 4px 3px black;

    
}

#preview #arrows > * {
    transform: scale(1);
    transition: transform 0.4s ease;
    
    z-index: 1;
}

#preview #arrows > *:hover {
    cursor: pointer;

    transform: scale(1.2);
}
